<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <% if current_user && current_user.own?(comment) %>
        <div class='ms-auto'>
          <%= link_to board_comment_path(comment.board, comment), id: "button-delete-#{comment.id}", data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <ul class="list-inline">
      <li>
        <img src="<%= comment.user.profile_image.present? ? comment.user.profile_image.url : asset_path('default.png') %>" alt="user-icon" class="rounded-circle border border-3 <%= rank_border_class(comment.user.rank) %>" width="50" height="50"><%= comment.user.username %>
      </li>
      <li>
        <%= l comment.created_at, format: :strftime %>
        <%= [index]  %>
      </li>
    </ul>
    <p class="card-text"><%= simple_format(comment.body) %></p>
    <% if comment.comment_image_url.present? %>
      <%= link_to comment.comment_image_url, target: "_blank" do %>
        <%= image_tag comment.comment_image_url, width: "70px", height: "70px" %>
      <% end %>
    <% end %>
  </div>
</div>