<header class="bg-light border-bottom">
  <div class="container d-flex justify-content-between align-items-center py-2">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png' , class: 'img-fiuld' , style: 'height: 40px;' %>
      <% end %>
    </div>
    <nav class="nav">
      <%= link_to '掲示板一覧' , boards_path , class: 'nav-link' %>
      <%= link_to '人気(未実装)' , '#' , class: 'nav-link' %>
      <%= link_to '新着(未実装)' , '#' , class: 'nav-link' %>
    </nav>
    <div>
      <%= link_to 'ログイン' , login_path, class: 'btn btn-primary' %>
      <%= link_to '会員登録' , new_user_path, class: 'btn btn-primary' %>
    </div>
  </div>
</header>