<header class="custom-header bg-light border-bottom">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'favicon.ico' , class: 'img-fiuld' , style: 'height: 60px;' %>
        <% end %>
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse ma-auto" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to profile_path, class: 'd-flex align-items-center text-decoration-none me-3 mb-2 mb-md-0' do %>
              <img src="<%= current_user.profile_image.present? ? current_user.profile_image.url : asset_path('default.png') %>" 
                   alt="user-icon" 
                   class="rounded-circle border border-3 <%= rank_border_class(current_user.rank) %>" 
                   width="60" 
                   height="60">
              <% end %>
            </li>
        </ul>
        <%= link_to 'ログアウト', logout_path, class: 'btn btn-danger', data: { turbo_method: :delete } %>
      </div>
    </div>
  </nav>
</header>