<div class="collapse d-md-block sidebar" id="sidebarMenu" style="position: fixed; left: 0; top: 0; width: 15%; height: 100%; background-color: #f8f9fa; border-right: 1px solid #ddd; padding: 15px; overflow-y: auto; z-index: 1040;">
  <h2 class="mb-4"><%= link_to '掲示板一覧' , boards_path , class: 'nav-link text-decoration-underline' %></h2>
  <h2 class="h4">ピックアップ</h2>
  <ul class="list-group mb-4">
    <% if @pickup_boards.present? %>
      <% @pickup_boards.each do |board| %>
        <li class="list-group-item">
          <%= link_to board.title, board_path(board) %>
        </li>
      <% end %>
    <% else %>
      <li class="list-group-item">ピックアップ掲示板はありません</li>
    <% end %>
  </ul>
  <h2 class="h4">人気</h2>
  <ul class="list-group mb-4">
    <% if @popular_boards.present? %>
      <% @popular_boards.each do |board| %>
        <li class="list-group-item">
          <%= link_to board.title,board_path(board) %>
        </li>
      <% end %>
    <% else %>
      <li class="list-group-item">人気の掲示板はありません</li>
    <% end %>
  </ul>
  <h2 class="h4">新着</h2>
  <ul class="list-group mb-4">
    <% if @recent_boards.present? %>
      <% @recent_boards.each do |board| %>
        <li class="list-group-item">
          <%= link_to board.title, board_path(board) %>
        </li>
      <% end %>
    <% else %>
      <li class="list-group-item">新着掲示板はありません</li>
    <% end %>
  </ul>
  <ul class="list-group">
    <h4 class="mb-4"><%= link_to '利用規約', '/term', class: 'nav-link text-decoration-underline' %></h4>
    <h4 class="mb-4"><%= link_to 'プライバシーポリシー', '/privacy', class: 'nav-link text-decoration-underline' %></h4>
    <h4><%= link_to 'お問い合わせ', new_contact_path, class: 'nav-link text-decoration-underline' %></h4>
  </ul>
</div>