<%= form_with model: @board do |f| %>
  <div class="mb-3">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :body, "本文" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :画像（任意）%>
    <%= f.file_field :board_image%>
    <%= f.hidden_field :board_image_cache %>
  </div>
  <div class="mb-3">
    <%= f.label :password, "パスワード（任意）" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <%= f.submit "作成" ,class: "btn btn-primary" %>
<% end %>