<% content_for(:title, '入場パスワード' ) %>
<div class="container custom-container">
<%= render 'shared/flash_message' %>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>パスワード入力</h1>
        <%= form_with url: verify_password_board_path(@board), method: :post, local: true do |f| %>
          <div class="mb-3">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <%= f.submit "入場", class: "btn btn-primary" %>
          <%= link_to "戻る" , boards_path, class: "btn btn-secondary" %>
        <% end %>
    </div>
  </div>
</div>