<% content_for(:title, @board.title) %>
<div class="container" style="padding-bottom: 220px;">
  <div class="col-sm-12 col-12 mb-3 mt-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title"><%= @title %></h4>
          <% if current_user && current_user.own?(@board) %>
            <div class='ms-auto'>
              <%= link_to edit_board_path(@board), id: "button-edit-#{@board.id}" do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
              <%= link_to board_path(@board), id: "button-delete-#{@board.id}", data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } do %>
                <i class="bi bi-trash-fill"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <ul class="list-inline">
          <li>
            <img src="<%= @board.user.profile_image.present? ? @board.user.profile_image.url : asset_path('default.png') %>" alt="user-icon" class="rounded-circle border border-3 <%= rank_border_class(@board.user.rank) %>" width="50" height="50"><%= @board.user.username %>
          </li>
          <%= l @board.created_at, format: :strftime %></li>
        </ul>
        <p class="card-text"><%= simple_format(@board.body) %></p>
        <% if @board.board_image_url.present? %>
          <%= link_to @board.board_image_url.html_safe, target: "_blank" do %>
            <%= image_tag @board.board_image_url.html_safe, width: "70px", height: "70px" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <hr class="my-2">

  <div class="col-sm-12 col-12">
    <h5>返信</h5>
    <% total_comments = @comments.total_count %>
    <% @comments.each_with_index do |comment, index| %>
      <%= render partial: 'comments/comment', locals: { comment: comment, index: total_comments - ((@comments.current_page - 1) * @comments.limit_value + index) } %>
    <% end %>
  </div>
  <%= paginate @comments, theme: 'bootstrap-5' %>

  <div class="fixed-bottom bg-white border-top p-3" style="bottom: 40px">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <%= form_with model: @comment, url: board_comments_path(@board) do |f| %>
            <%= f.file_field :comment_image, class: "form-control" %>
            <%= f.text_area :body, placeholder: "返信を入力...", class: "form-control" %>
            <%= f.submit "返信", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>